<persistence-unit name="com.techware.invoice_catalog">
<description>Hibernate EntityManager Demo</description>
<class>com.techware.model.Invoice</class>
<exclude-unlisted-classes>true</exclude-unlisted-classes>
<properties>
<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
<property name="hibernate.hbm2ddl.auto" value="create-drop"/>
<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
<property name="javax.persistence.jdbc.url" value="jdbc:mysql://techware.mysql.database.azure.com:3306/techware_db?useSSL=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
<property name="javax.persistence.jdbc.user" value="techware_admin@techware"/>
<property name="javax.persistence.jdbc.password" value="CSC4302019%"/>
</properties>
        </persistence-unit>
